{% extends 'CorrigeatonScheduleBundle::base.html.twig' %}

{% form_theme edit_form 'CorrigeatonScheduleBundle::form.html.twig' %}
{% block title %}{% trans %}Classe{% endtrans %} {{ entity.name }}{% endblock %}
{% block title_content -%}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{% trans %}Classes{% endtrans %}</h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans %}Modification de la classe{% endtrans %} {{ entity.name }}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        {{ form(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
