{% extends 'CorrigeatonScheduleBundle::base.html.twig' %}

{% block content -%}
    <h1>Classroom creation</h1>

    {{ form_start(form) }}

    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('classroom') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
