{% extends 'CorrigeatonScheduleBundle::base.html.twig' %}
{% block title %}{% trans %}Désinscription{% endtrans %}{% endblock %}
{% block title_content -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% trans %}Désinscription{% endtrans %}</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% trans %}Bonjour{{ teacher.name }} {{ teacher.surname }} vous êtes bien {{ what }} !{% endtrans %}
{% endblock %}
