{% extends "CorrigeatonScheduleBundle:Front:index.html.twig" %}

{% block title %}- Mentions légales{% endblock %}
{% block body %}

<div class="container">
<div class="row">
    <div class="col-md-12">
        <h1>Mentions légales</h1>
        <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs de ce site l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
        <h3>Responsable du site</h3>
        <ul>
            <li><strong>Jérémie BOUTOILLE</strong> <a href="mailto:jeremie.boutoille@etud.insa-toulouse.fr">jeremie.boutoille@etud.insa-toulouse.fr</a></li>
            <li><strong>Hugo DJEMAA</strong> <a href="mailto:hugo.djemaa@etud.insa-toulouse.fr">hugo.djemaa@etud.insa-toulouse.fr</a></li>
            <li><strong>David LIVET</strong> <a href="mailto:david.livet@etud.insa-toulouse.fr">david.livet@etud.insa-toulouse.fr</a></li>
        </ul>
        <h3>Hébergement</h3>
        <p>
            <address>
            <strong>INSA de Toulouse</strong><br>

            135 Avenue de Rangueil<br>
            31400 Toulouse<br>
            </address>
        </p>
        <h3>Informatique et libertés</h3>
        <p>Les informations recueillies font l’objet d’un traitement informatique destiné à envoyer des mails de rappels aux professeurs ainsi qu'aux élèves. Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès, de rectification, de suppression des informations qui vous concernent, que vous pouvez exercer en vous adressant à <a href="mailto:corrigeathon@etud.insa-toulouse.fr">corrigeathon@etud.insa-toulouse.fr</a>.</p>
        <h3>Limitation de responsabilité</h3>
        <p>Ce site ne saurait être tenu pour responsable des erreurs rencontrées sur le site, problèmes techniques, interprétation des informations envoyés et conséquences de leur utilisation.</p>
    </div>
</div>
</div>

{% endblock %}