{% extends "CorrigeatonScheduleBundle:Front:index.html.twig" %}

{% block title %}- Désabonnement{% endblock %}
{% block body %}

<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="sweet-alert" style="display: block">
            <div class="icon success animate"> <span class="line tip animateSuccessTip"></span> <span class="line long animateSuccessLong"></span> <div class="placeholder"></div> <div class="fix"></div> </div>
            <h2>Désabonnement</h2>
            <p>Vous ne receverez plus de rappel de notre part pour le test {{ test.name }}.</p>
        </div>
    </div>
</div>
</div>

{% endblock %}